* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  font-family: elephant, sans-serif;
  user-select: none;
  height: 100%;
}
body #page-wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}
body #page-wrapper #header-wrapper {
  flex: none;
}
body #page-wrapper #header-wrapper #navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  background: linear-gradient(100deg, #66fcaa 0%, #4ec287 100%);
  border-bottom: 0.325vh solid #0b0c10;
}
@media only screen and (max-width: 65rem) {
  body #page-wrapper #header-wrapper #navbar {
    display: none;
  }
}
body #page-wrapper #header-wrapper #navbar ul {
  display: flex;
}
body #page-wrapper #header-wrapper #navbar ul li {
  font-size: 1.25rem;
  list-style: none;
}
body #page-wrapper #header-wrapper #navbar ul li a {
  display: inline-block;
  text-decoration: none;
  color: #0b0c10;
  padding: 2.8916666667vh 0;
  transition: background 0.2s ease, color 0.2s ease;
  text-align: center;
  width: 8rem;
  height: 8.675vh;
}
body #page-wrapper #header-wrapper #navbar ul li a:hover {
  background: #0b0c10;
  color: #66fcaa;
}
body #page-wrapper #content-wrapper {
  flex: auto;
  position: relative;
  overflow-y: auto;
  scroll-behavior: smooth;
}
body #page-wrapper #content-wrapper #welcome {
  display: flex;
  height: 91vh;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  background: #0b0c10;
}
@media only screen and (max-width: 65rem) {
  body #page-wrapper #content-wrapper #welcome {
    height: 100vh;
  }
}
body #page-wrapper #content-wrapper #welcome div {
  margin: 0 1.25rem;
}
body #page-wrapper #content-wrapper #welcome div h1 {
  font-size: 5rem;
  color: #66fcaa;
}
body #page-wrapper #content-wrapper #welcome div h2 {
  font-family: consolas, monospace, sans-serif;
  font-size: 2rem;
  margin-top: 0.625rem;
  color: #d5d6d7;
}
body #page-wrapper #content-wrapper #about {
  text-align: center;
  min-height: 91vh;
  padding-top: 6rem;
  padding-bottom: 5rem;
  background: #1f2833;
  color: #d5d6d7;
}
@media only screen and (max-width: 65rem) {
  body #page-wrapper #content-wrapper #about {
    padding-top: 2rem;
    min-height: 100vh;
  }
}
@media only screen and (max-width: 65rem) {
  body #page-wrapper #content-wrapper #about #tabs-wrapper {
    display: none;
  }
}
body #page-wrapper #content-wrapper #about #tabs-wrapper h1 {
  font-size: 2.75rem;
  padding: 1.25rem 1.25rem 6rem 1.25rem;
}
body #page-wrapper #content-wrapper #about #tabs-wrapper #tab-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 0.625rem;
  font-weight: bold;
  font-family: consolas, monospace, sans-serif;
}
body #page-wrapper #content-wrapper #about #tabs-wrapper #tab-list .tab {
  width: 12rem;
  height: 3rem;
  font-size: 1.1875rem;
  padding-top: 0.75rem;
  cursor: pointer;
  list-style-type: none;
  border-radius: 0.625rem;
}
@media only screen and (max-width: 65rem) {
  body #page-wrapper #content-wrapper #about #tabs-wrapper #tab-list .tab {
    margin-bottom: 0;
  }
}
body #page-wrapper #content-wrapper #about #tabs-wrapper #tab-list .tab:hover {
  color: #0b0c10;
  background: #4ec287;
}
body #page-wrapper #content-wrapper #about #tabs-wrapper #tab-list .active {
  background: transparent;
  color: #66fcaa;
  border: 0.125rem solid #66fcaa;
  padding-top: 0.625rem;
}
body #page-wrapper #content-wrapper #about #tab-content {
  width: 60%;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  user-select: text;
  line-height: 1.5625rem;
  font-size: 1.0625rem;
  font-family: consolas, monospace, sans-serif;
}
@media only screen and (max-width: 65rem) {
  body #page-wrapper #content-wrapper #about #tab-content {
    width: 80%;
    margin-top: 0;
  }
}
body #page-wrapper #content-wrapper #about #tab-content [data-tab-content] {
  display: none;
}
body #page-wrapper #content-wrapper #about #tab-content .active[data-tab-content] {
  display: initial;
}
body #page-wrapper #content-wrapper #about #tab-content .active[data-tab-content] .tabLabel {
  margin: 3rem 0 2rem 0;
  display: none;
}
@media only screen and (max-width: 65rem) {
  body #page-wrapper #content-wrapper #about #tab-content .active[data-tab-content] .tabLabel {
    display: block;
  }
}
@media only screen and (max-width: 65rem) {
  body #page-wrapper #content-wrapper #about #tab-content .active[data-tab-content] p {
    text-align: left;
  }
}
body #page-wrapper #content-wrapper #about #tab-content .active[data-tab-content] p a {
  text-decoration: none;
  color: #4ec287;
}
body #page-wrapper #content-wrapper #projects {
  display: flex;
  flex-direction: column;
  padding-bottom: 12.5rem;
  min-height: 91vh;
  color: #d5d6d7;
  background: #0b0c10;
}
@media only screen and (max-width: 65rem) {
  body #page-wrapper #content-wrapper #projects {
    min-height: 100vh;
  }
}
body #page-wrapper #content-wrapper #projects h2 {
  text-decoration: underline;
  font-size: 1.5rem;
}
@media only screen and (max-width: 65rem) {
  body #page-wrapper #content-wrapper #projects h2 {
    font-size: 2rem;
  }
}
body #page-wrapper #content-wrapper #projects a {
  color: #66fcaa;
  text-decoration: none;
  font-size: 1.75rem;
  width: 12.5rem;
  margin: 2rem auto 0 auto;
  border: 0.125rem solid #66fcaa;
  text-decoration: none;
  border-radius: 0.625rem;
}
body #page-wrapper #content-wrapper #projects a:hover {
  color: #0b0c10;
  background: #4ec287;
}
body #page-wrapper #content-wrapper #projects h2, body #page-wrapper #content-wrapper #projects a {
  font-family: consolas, sans-serif;
  padding: 1.25rem;
  text-align: center;
}
body #page-wrapper #content-wrapper #projects #project-head-container {
  padding: 7.5rem 0 5rem 0;
  display: flex;
  justify-content: center;
}
body #page-wrapper #content-wrapper #projects #project-head-container h1 {
  font-size: 2.5rem;
  letter-spacing: 0.078125rem;
  width: 34.375rem;
  padding: 1.25rem 0;
  text-align: center;
  text-shadow: 0.0625rem 0.125rem 0.125rem rgba(0, 0, 0, 0.7);
  border-top: 0.125rem solid #d5d6d7;
  border-bottom: 0.125rem solid #d5d6d7;
}
body #page-wrapper #content-wrapper #projects #apps-display, body #page-wrapper #content-wrapper #projects #games-display {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media only screen and (max-width: 65rem) {
  body #page-wrapper #content-wrapper #projects #apps-display, body #page-wrapper #content-wrapper #projects #games-display {
    flex-direction: column;
  }
}
body #page-wrapper #content-wrapper #projects #apps-display .project-tile, body #page-wrapper #content-wrapper #projects #games-display .project-tile {
  margin: 0 1.25rem 1.25rem 1.25rem;
  height: 21.875rem;
  width: 21.875rem;
  background: #66fcaa;
  box-shadow: 0.5rem 0.55rem 0.25rem rgba(0, 0, 0, 0.9);
  text-decoration: none;
  font-size: 1.025rem;
  border-radius: 0.09375rem;
  transition: font-size 0.2s ease;
}
@media only screen and (max-width: 65rem) {
  body #page-wrapper #content-wrapper #projects #apps-display .project-tile, body #page-wrapper #content-wrapper #projects #games-display .project-tile {
    margin: 0 auto 1.25rem auto;
    height: 80vw;
    width: 80vw;
    font-size: 1.25rem;
  }
}
body #page-wrapper #content-wrapper #projects #apps-display .project-tile:hover, body #page-wrapper #content-wrapper #projects #games-display .project-tile:hover {
  font-size: 1.075rem;
}
@media only screen and (max-width: 65rem) {
  body #page-wrapper #content-wrapper #projects #apps-display .project-tile:hover, body #page-wrapper #content-wrapper #projects #games-display .project-tile:hover {
    font-size: 1.3125rem;
  }
}
body #page-wrapper #content-wrapper #projects #apps-display .project-tile img, body #page-wrapper #content-wrapper #projects #games-display .project-tile img {
  width: 100%;
  height: 85%;
}
body #page-wrapper #content-wrapper #projects #apps-display .project-tile h4, body #page-wrapper #content-wrapper #projects #games-display .project-tile h4 {
  text-align: center;
  color: #0b0c10;
  letter-spacing: 0.078125rem;
  background: #66fcaa;
  padding: 0.9375rem 0.9375rem 1.25rem 0.9375rem;
  font-weight: bold;
  font-family: consolas, monospace, sans-serif;
  text-shadow: 0 0 0.0625rem rgba(0, 0, 0, 0.5);
}
body #page-wrapper #content-wrapper #contact {
  height: 81vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #1f2833;
}
@media only screen and (max-width: 65rem) {
  body #page-wrapper #content-wrapper #contact {
    min-height: 90.325vh;
  }
}
body #page-wrapper #content-wrapper #contact #contact-header {
  text-align: center;
  color: #d5d6d7;
  font-size: 1.875rem;
  margin: 0 0.9375rem;
  text-shadow: 0.125rem 0.125rem 0.1875rem rgba(0, 0, 0, 0.5);
}
body #page-wrapper #content-wrapper #contact ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.5rem;
}
@media only screen and (max-width: 65rem) {
  body #page-wrapper #content-wrapper #contact ul {
    flex-direction: column;
    justify-content: center;
  }
}
body #page-wrapper #content-wrapper #contact ul li {
  list-style: none;
  font-weight: bold;
  font-family: consolas, monospace, sans-serif;
  margin: 0 0.9375rem;
  text-shadow: 0.0625rem 0.0625rem 0.125rem rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
}
@media only screen and (max-width: 65rem) {
  body #page-wrapper #content-wrapper #contact ul li {
    margin: 0.9375rem 0.625rem;
    font-size: 2.125rem;
  }
}
body #page-wrapper #content-wrapper #contact ul li .contact-link {
  text-decoration: none;
  display: flex;
  color: #d5d6d7;
  transition: transform 0.2s ease;
}
body #page-wrapper #content-wrapper #contact ul li .contact-link:hover {
  transform: scale(1.15);
}
body #page-wrapper #content-wrapper #contact ul li .contact-link .fab, body #page-wrapper #content-wrapper #contact ul li .contact-link .fas {
  margin-right: 0.625rem;
  align-self: center;
}
body #page-wrapper #content-wrapper #contact #resume-btn {
  color: #66fcaa;
  align-self: center;
  text-decoration: none;
  font-weight: bold;
  font-family: consolas, monospace, sans-serif;
  font-size: 1.75rem;
  width: 10.5rem;
  padding: 1rem;
  margin-top: 1rem;
  border: 0.125rem solid #66fcaa;
  text-decoration: none;
  border-radius: 0.625rem;
  text-align: center;
}
@media only screen and (max-width: 65rem) {
  body #page-wrapper #content-wrapper #contact #resume-btn {
    font-size: 2.25rem;
  }
}
body #page-wrapper #content-wrapper #contact #resume-btn:hover {
  color: #0b0c10;
  background: #4ec287;
}
body #page-wrapper #content-wrapper footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background: linear-gradient(-100deg, #66fcaa 0%, #4ec287 100%);
  color: #0b0c10;
  font-size: 1.0625rem;
  font-weight: bold;
  font-family: consolas, monospace, sans-serif;
  text-shadow: 0 0 0.0625rem rgba(0, 0, 0, 0.7);
}
@media only screen and (max-width: 65rem) {
  body #page-wrapper #content-wrapper footer {
    font-size: 1.575rem;
  }
}
