* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  font-family: elephant, sans-serif;
  user-select: none;
  overflow: hidden;
  height: 100%;
}
body #page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
body #page-wrapper #header-wrapper {
  flex: none;
}
body #page-wrapper #header-wrapper #navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  background: linear-gradient(100deg, #66fcaa 0%, #4ec287 100%);
  border-bottom: 0.325vh solid #0b0c10;
}
@media only screen and (max-width: 65rem) {
  body #page-wrapper #header-wrapper #navbar {
    justify-content: center;
  }
}
body #page-wrapper #header-wrapper #navbar ul {
  display: flex;
}
body #page-wrapper #header-wrapper #navbar ul li {
  font-size: 1.25rem;
  list-style: none;
}
@media only screen and (max-width: 65rem) {
  body #page-wrapper #header-wrapper #navbar ul li {
    font-size: 1.35rem;
  }
  body #page-wrapper #header-wrapper #navbar ul li:last-child > a {
    border-right: 0.325vh solid #0b0c10;
  }
}
body #page-wrapper #header-wrapper #navbar ul li a {
  display: inline-block;
  text-decoration: none;
  color: #0b0c10;
  padding: 2.8916666667vh 0;
  transition: background 0.2s ease, color 0.2s ease;
  text-align: center;
  width: 8rem;
  height: 8.675vh;
}
@media only screen and (max-width: 65rem) {
  body #page-wrapper #header-wrapper #navbar ul li a {
    width: 25vw;
    border-left: 0.325vh solid #0b0c10;
  }
}
body #page-wrapper #header-wrapper #navbar ul li a:hover {
  background: #0b0c10;
  color: #66fcaa;
}
body #page-wrapper #content-wrapper {
  flex: auto;
  position: relative;
  overflow-y: auto;
  scroll-behavior: smooth;
}
body #page-wrapper #content-wrapper #main-content {
  text-align: center;
  min-height: 81vh;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background: #0b0c10;
  color: #d5d6d7;
}
body #page-wrapper #content-wrapper #main-content h1 {
  font-size: 2.75rem;
  padding: 1.25rem 1.25rem 5rem 1.25rem;
}
body #page-wrapper #content-wrapper #main-content #description {
  font-family: consolas, monospace, sans-serif;
  line-height: 1.575rem;
}
@media only screen and (max-width: 65rem) {
  body #page-wrapper #content-wrapper #main-content #description {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }
}
body #page-wrapper #content-wrapper #main-content #description .desc-title {
  display: inline;
  text-align: center;
  font-family: elephant, sans-serif;
  letter-spacing: 0.078125rem;
  border-bottom: 0.0625rem #d5d6d7 solid;
  line-height: 2.5rem;
}
@media only screen and (max-width: 65rem) {
  body #page-wrapper #content-wrapper #main-content #description .desc-title {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.325rem;
    line-height: 3.5rem;
    width: 90%;
  }
}
body #page-wrapper #content-wrapper #main-content #description .list {
  text-align: left;
  max-width: 50rem;
  margin: 0 auto;
}
@media only screen and (max-width: 65rem) {
  body #page-wrapper #content-wrapper #main-content #description .list {
    font-size: 1.135rem;
  }
}
body #page-wrapper #content-wrapper #main-content #screenshots {
  display: grid;
  grid-gap: 0.625rem;
  max-width: 62rem;
  margin: 2rem auto;
}
body #page-wrapper #content-wrapper #main-content #screenshots img {
  max-width: 20rem;
}
@media (max-width: 65rem) {
  body #page-wrapper #content-wrapper #main-content #screenshots {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
  }
  body #page-wrapper #content-wrapper #main-content #screenshots img {
    margin-top: 1rem;
    max-width: 80%;
  }
}
body #page-wrapper #content-wrapper #main-content #screenshots #ss-1 {
  grid-column-start: 1;
  grid-column-end: 2;
}
body #page-wrapper #content-wrapper #main-content #screenshots #ss-2 {
  grid-column-start: 2;
  grid-column-end: 3;
}
body #page-wrapper #content-wrapper #main-content #screenshots #ss-3 {
  grid-column-start: 3;
  grid-column-end: 4;
}
body #page-wrapper #content-wrapper #main-content #screenshots #ss-4 {
  grid-column-start: 1;
  grid-column-end: 2;
}
body #page-wrapper #content-wrapper #main-content #screenshots #ss-5 {
  grid-column-start: 2;
  grid-column-end: 3;
}
body #page-wrapper #content-wrapper #main-content #screenshots #ss-6 {
  grid-column-start: 3;
  grid-column-end: 4;
}
body #page-wrapper #content-wrapper #main-content #screenshots #ss-7 {
  grid-column-start: 1;
  grid-column-end: 4;
}
body #page-wrapper #content-wrapper footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background: linear-gradient(-100deg, #66fcaa 0%, #4ec287 100%);
  color: #0b0c10;
  font-size: 1.0625rem;
  font-weight: bold;
  font-family: consolas, monospace, sans-serif;
  text-shadow: 0 0 0.0625rem rgba(0, 0, 0, 0.7);
}
@media only screen and (max-width: 65rem) {
  body #page-wrapper #content-wrapper footer {
    font-size: 1.375rem;
  }
}
