* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrapper {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  background: #231683;
}
#wrapper #map {
  background: #CCC;
  color: #000;
  border: 3px solid #333;
  border-radius: 10px;
  box-shadow: 0 0 5px 2px #CCC;
}
#wrapper #map #header {
  background: #A3A3A3;
  color: #111;
  padding: 14px 0 20px 0;
  border-right: 1px solid #333;
  border-radius: 7px 7px 0 0;
}
#wrapper #map #header #title {
  font-size: 28px;
}
#wrapper #map #header #description {
  font-size: 20px;
}
#wrapper #map .cell {
  stroke-width: 2px;
}
#wrapper #map .cell:hover {
  fill: #243cbf;
}
#wrapper #map #tooltip {
  position: fixed;
  width: auto;
  height: auto;
  padding: 10px;
  pointer-events: none;
  border: 2px solid #BBB;
  border-radius: 8px;
  font-weight: bold;
  text-shadow: 1px 1px 4px #000, -1px -1px 4px #000;
  color: #fff;
}
#wrapper #map #legend .legend-rect {
  stroke: #111;
}
#wrapper #map #legend .legend-text {
  font-weight: bold;
  font-size: 11px;
}
#wrapper #map #x-axis, #wrapper #map #y-axis {
  font-weight: bold;
  font-size: 12px;
}