* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  font-family: elephant, sans-serif;
  user-select: none;
  height: 100%;
}
body #page-wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}
body #page-wrapper #header-wrapper {
  flex: none;
}
body #page-wrapper #header-wrapper #navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  background: linear-gradient(100deg, #66fcaa 0%, #4ec287 100%);
  border-bottom: 0.325vh solid #0b0c10;
}
@media only screen and (max-width: 65rem) {
  body #page-wrapper #header-wrapper #navbar {
    display: none;
  }
}
body #page-wrapper #header-wrapper #navbar ul {
  display: flex;
}
body #page-wrapper #header-wrapper #navbar ul li {
  font-size: 1.25rem;
  list-style: none;
}
body #page-wrapper #header-wrapper #navbar ul li a {
  display: inline-block;
  text-decoration: none;
  color: #0b0c10;
  padding: 2.8916666667vh 0;
  transition: background 0.2s ease, color 0.2s ease;
  text-align: center;
  width: 8rem;
  height: 8.675vh;
}
body #page-wrapper #header-wrapper #navbar ul li a:hover {
  background: #0b0c10;
  color: #66fcaa;
}
body #page-wrapper #content-wrapper {
  flex: auto;
  position: relative;
  overflow-y: auto;
  scroll-behavior: smooth;
}
body #page-wrapper #content-wrapper #portfolio {
  text-align: center;
  min-height: 81vh;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background: #0b0c10;
  color: #d5d6d7;
}
@media only screen and (max-width: 65rem) {
  body #page-wrapper #content-wrapper #portfolio {
    padding-top: 2rem;
    min-height: 100vh;
  }
}
@media only screen and (max-width: 65rem) {
  body #page-wrapper #content-wrapper #portfolio #tabs-wrapper {
    display: none;
  }
}
body #page-wrapper #content-wrapper #portfolio #tabs-wrapper h1 {
  font-size: 2.75rem;
  padding: 1.25rem 1.25rem 5rem 1.25rem;
}
body #page-wrapper #content-wrapper #portfolio #tabs-wrapper #tab-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 0.625rem;
  font-weight: bold;
  font-family: consolas, monospace, sans-serif;
}
body #page-wrapper #content-wrapper #portfolio #tabs-wrapper #tab-list .tab {
  width: 12rem;
  height: 3rem;
  font-size: 1.1875rem;
  padding-top: 0.75rem;
  cursor: pointer;
  list-style-type: none;
  border-radius: 0.625rem;
}
@media only screen and (max-width: 65rem) {
  body #page-wrapper #content-wrapper #portfolio #tabs-wrapper #tab-list .tab {
    margin-bottom: 0;
  }
}
body #page-wrapper #content-wrapper #portfolio #tabs-wrapper #tab-list .tab:hover {
  color: #0b0c10;
  background: #4ec287;
}
body #page-wrapper #content-wrapper #portfolio #tabs-wrapper #tab-list .active {
  background: transparent;
  color: #66fcaa;
  border: 0.125rem solid #66fcaa;
  padding-top: 0.625rem;
}
body #page-wrapper #content-wrapper #portfolio #tab-content {
  width: 60%;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  user-select: text;
  line-height: 1.5625rem;
  font-size: 1.0625rem;
  font-family: consolas, monospace, sans-serif;
}
@media only screen and (max-width: 65rem) {
  body #page-wrapper #content-wrapper #portfolio #tab-content {
    width: 80%;
    margin-top: 0;
  }
}
body #page-wrapper #content-wrapper #portfolio #tab-content [data-tab-content] {
  display: none;
}
body #page-wrapper #content-wrapper #portfolio #tab-content .active[data-tab-content] {
  display: initial;
}
body #page-wrapper #content-wrapper #portfolio #tab-content .active[data-tab-content] .tabLabel {
  margin: 3rem 0 2rem 0;
  display: none;
}
@media only screen and (max-width: 65rem) {
  body #page-wrapper #content-wrapper #portfolio #tab-content .active[data-tab-content] .tabLabel {
    display: block;
  }
}
@media only screen and (max-width: 65rem) {
  body #page-wrapper #content-wrapper #portfolio #tab-content .active[data-tab-content] p {
    text-align: left;
  }
}
body #page-wrapper #content-wrapper #portfolio #tab-content .active[data-tab-content] p a {
  text-decoration: none;
  color: #4ec287;
}
body #page-wrapper #content-wrapper footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background: linear-gradient(-100deg, #66fcaa 0%, #4ec287 100%);
  color: #0b0c10;
  font-size: 1.0625rem;
  font-weight: bold;
  font-family: consolas, monospace, sans-serif;
  text-shadow: 0 0 0.0625rem rgba(0, 0, 0, 0.7);
}
@media only screen and (max-width: 65rem) {
  body #page-wrapper #content-wrapper footer {
    font-size: 1.575rem;
  }
}
